/*********************
****blog page css*****
**********************/

.widget {
    margin-bottom: 30px;
    padding-left: 0;
}
.single_comments {
    margin-bottom: 20px;
}
.single_comments img {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
}
.single_comments p {
    margin-bottom: 0;
}
.widget .entry-meta span {
    display: inline-block;
    margin-right: 10px;
}
.blog-checkbox{
  margin-left: 6px;
}
.blog-checkbox input[type="submit"]{
  margin-left: -6px;
  margin-top: 4px;
  background-color: #19426d;
  color: white;
  border: none;
  padding: 3px 17px;
}
.blog-checkbox label{
  font-size: 11px;
}
.blog_category {
    list-style: none;
    margin: 0;
    padding: 0;
}
.blog_category li {
    float: none;
    margin-bottom: 20px;
}
.blog_category li a {
    background: #f5f5f5;
    border-radius: 4px;
    color: #888;
    display: inline-block;
    padding: 5px 15px;
}
.blog_category li a:hover {
    background: #c52d2f;
    color: #fff;
}
/*.badge:before {
    border-color: transparent transparent transparent #c52d2f;
    border-style: solid;
    border-width: 10px;
    bottom: -8px;
    content: "";
    height: 0;
    left: 5px;
    position: absolute;
    z-index: -99999;
}
.badge {
    background-color: #B40101;
    border-radius: 5px;
    color: #fff;
    padding: 8px;
    position: relative;
    left: 60px;
    top: -18px;
    font-weight: normal;
}*/
.blog_archieve {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.blog_archieve li {
    padding: 10px 0;
    border-bottom: 1px solid #f5f5f5;
}
.blog_archieve li:first-child {
    padding-top: 0;
}
ul.gallery {
    list-style: none;
    padding: 0;
    margin: 0;
}
ul.gallery li {
    display: block;
    width: 60px;
    padding: 0;
    margin: 0 4px 4px 0;
    float: left;
}
ul.faq {
    list-style: none;
    margin: 0;
}
ul.faq li {
    margin-top: 30px;
}
ul.faq li:first-child {
    margin-top: 0;
}
ul.faq li span.number {
    display: block;
    float: left;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #34495e;
    color: #fff;
    font-size: 24px;
}
ul.faq li > div {
    margin-left: 70px;
}
ul.faq li > div h3 {
    margin-top: 0;
}
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.blog-item {
    border-radius: 0;
    overflow: hidden;
    margin-bottom: 50px;
    margin-top: 28px;
}
.blog-item p{
  color: #000;
  font-size: 14px;
  line-height: 1.4;
}
.blog .blog-item .img-blog {
    border-radius: 5px;
    margin-bottom: 45px;
}
.blog .blog-item .blog-content {
    padding-bottom: 25px;
}
.blog .blog-item .blog-content h2 {
    margin-top: 0;
    font-size: 30px;
}
.readmore {
    margin-top: 0;
    background-color: #19426d;
    padding: 5px;
}
.blog .blog-item .blog-content h3 {
    color: #858586;
    margin-bottom: 10px;
    /* font-weight: 300 */
}
.blog .blog-item .blog-content h4 {
    font-size: 14px;
}
.post-tags {} .blog .blog-item .entry-meta {
    border-radius: 5px;
    overflow: hidden;
}
.blog .blog-item .entry-meta > span {
    background: #f5f5f5;
    border-top: 1px solid #fff;
    display: block;
    font-size: 12px;
    overflow: hidden;
    padding: 5px;
    text-align: left;
}
#publish_date {
    background: #19426d;
    border-bottom: 5px solid #4e4e4e;
    color: #fff;
    padding: 5px 0;
    text-align: center;
}
.blog .blog-item .entry-meta > span {
    color: #666666;
}
.blog .blog-item .entry-meta > span a {
    font-size: 12px;
    margin-left: 3px;
    font-weight: 300;
    color: #888;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 5px 13px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.pagination>li>a, .pagination>li>span{
  margin-right: 5px;
}
.pagination>li>span.current{
  background-color: #19426d;
  color: white;
}
ul.pagination > li > a {
    border: 1px solid #F1F1F1;
    margin-right: 5px;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px 14px;
}
ul.pagination > li > a i {
    margin-left: 5px;
    margin-right: 5px;
}
ul.pagination > li.active > a, ul.pagination > li:hover > a {
    background-color: #19426d !important;
    border-color: #19426d !important;
    color: #fff;
}
.search_box {
    background-image: url("../images/search_icon.png");
    background-position: 314px 15px;
    background-repeat: no-repeat;
    border-color: #DEDEDE;
    height: 48px;
    outline: medium none;
    box-shadow: none;
}
.form-control:focus {
    box-shadow: none;
    outline: 0 none;
}
ul.tag-cloud,
ul.sidebar-gallery {
    list-style: none;
    padding: 0;
    margin: 0;
}
.tag-cloud li {
    display: inline-block;
    margin-bottom: 3px;
}
.tag-cloud li a {
    background: #f5f5f5;
    color: #888;
    border: 0;
    border-radius: 4px;
    padding: 8px 15px;
}
.tag-cloud li a:hover {
    background: #B40101;
    color: #fff;
}
.sidebar-gallery li {
    display: inline-block;
    margin: 0 10px 10px 0;
}
.sidebar-gallery li a {
    border-radius: 4px;
    display: inline-block;
}

/**********************
**blog single page css*
**********************/

.reply_section {
  background: #f5f5f5;
  border-radius: 5px;
}

.post_reply {
  margin-left: 10px;
  margin-top: 45px;
}

.post_reply img {
  width: 85px;
  height: 85px;
  border: 5px solid #D5D8DD;
}

.post_reply ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  margin-top: 5px;
}

.post_reply ul li{
  float:left;
}

.post_reply ul li a {
  display: block;
}

.post_reply ul li a i {
  border: 1px solid #DDDDDD;
  border-radius: 39px;
  color: #FFFFFF;
  font-size: 20px;
  height: 30px;
  margin-right: 3px;
  padding-top: 7px;
  text-align: center;
  width: 30px;
}

.post_reply ul li a i.fa-facebook {
  background: #0182C4;
}

.post_reply ul li a i.fa-twitter {
  background: none repeat scroll 0 0 #3FC1FE;
}

.post_reply ul li a i.fa-google-plus{
 background: none repeat scroll 0 0 #D34836;
}

.post_reply ul li a i:hover{
  opacity:.5;
}

.post_reply_content {
  margin: 30px;
}

.post_reply_content h1 a:hover{
  color:#FFC800;
}

.post_reply_content h4 {
  margin-bottom: 50px;
}

.reply_section .media-body{
  display:inherit;
}

/*.comment_section .media-body{
  display:inherit;
}*/

#comments_title{
   color:#4e4e4e;
   font-weight:700px;
   font-size:20px;
   margin-top:60px;
   margin-bottom:40px;
}
.comment_section {
  margin-top: 30px;
  position: relative;
}

.post_comments img {
  width: 85px;
  height: 85px;
  margin-top: 35px;
}

.post_reply_comments {
  background:#f5f5f5;
  border-radius: 4px;
  padding: 24px;
}

.post_reply_comments:before {
  border-color: transparent #F0F0F0 transparent transparent;
  border-style: solid;
  border-width: 15px;
  content: " ";
  height: 0;
  left: 75px;
  position: absolute;
  top: 20px;
}

.post_reply_comments h3,
.post_reply_content h3{
  margin-top: 0;
}

.post_reply_comments h1 a:hover{
  color:#c52d2f;
}

.post_reply_comments h4{
  color:#c4c4c5;
  font-weight:400;
}

.post_reply_comments p {
  padding-bottom: 30px;
  color: #333;
}

.post_reply_comments a {
  bottom: 15px;
  position: absolute;
  right: 30px;
  background: #c52d2f;
  color: #fff;
  border-radius: 5px;
  padding: 8px 20px;
}

.post_reply_comments a:before {
  border-color: #c52d2f transparent transparent;
  border-style: solid;
  border-width: 16px;
  bottom: -11px;
  content: "";
  height: 0;
  left: -12px;
  position: absolute;
  z-index: 99999;
}

.post_reply_comments h2 a{

}

.message_heading {
  margin-bottom: 50px;
  margin-top: 60px;
}
.message_heading p{
  color: #333;
}

textarea#comment{
  resize: none;
  padding: 10px;
}
.commentlist p{
  color: #333;
}

.contact-form input[type="submit"]{
  background-color: #1a426d;
  border: none;
  padding: 8px;
  margin-top: 15px;
  text-transform: uppercase;
  color:white;
}
.contact-form{
  margin-top: -35px;
}
p.small{
  font-size: 11px;
}
p.large{
  font-size: 17px;
}
#searchform{
  float:right;
  margin-top: 25px;
}
.content{
  margin-bottom: 40px;
}
#maincontent h2.pagetitle{
  margin-top:0;
}
