/*
Theme Name: Those Callaways 2016
Description: Those Callaways WordPress theme
Author: Goodfellow Creative Inc.
Author URI: http://www.goodfellowcreative.com
*/


/*@import "colors";*/

html, body {
    height: 100%;
    font-family: Lato;
}

body {
    overflow-x: hidden;
}


/*----------------------- COLOR #FEFEFF ------------------------ */

h1, h2, h3, p, #featured-properties .overlay h2, #zillow span, #zillow h3, .navbar-inverse, #bottom-footer a, #stay-in-touch h3, .ft-overlay h2 {
    color: #FEFEFF;
}

a:hover {
    color: #7495b2;
}


/*----------------------- COLOR #19426D ------------------------ */

#featured-properties h1, #connect-with-us p, span, .top h3, a, .virtual-tour-box h4, span.connect, span.with-us, .book-top p, .book-top-second h4, #featured-posts h2, #featured-posts h4, #featured-posts p, .book h2, .book-page .side-bar-right h3 {
    color: #19426D;
}

span {
    font-size: 16px;
}


/*----------------------- COLOR #333 --------------------------- */

.c-listing-detail p, h3, .comment-respond p, span, .book-page .side-bar-right p, body.post-type-archive-product .pages-container p, body.woocommerce .pages-container p, body.single .media p {
    color: #333;
}


/*----------------------- BUTTONS ------------------------------ */

.btn-tc {
    background-color: #FFDB48 !important;
    color: #19426D !important;
    padding: 20px 25px !important;
    font-size: 21px !important;
    margin-top: 20px !important;
    border-radius: 0 !important;
    border: none !important;
}


/*----------------------- SECTION ------------------------------ */

section {
    padding: 50px 0px;
}

#search-filters {
    background-color: #EAEAEA;
}

#bottom-footer {
    background-color: #1A426D;
}

#image-buttons {
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#image-buttons img {
    width: 100%;
    position: relative;
    height: auto !important;
}

#searchform input[type="text"] {
    width: 138px;
}

body.error404 #searchform {
    float: initial !important;
}


/*----------------------- COMMENTS ------------------------------ */

#email-notes, #comment {
    display: block;
}

.comment-blog h3 {
    font-size: 14px;
    margin-top: 0;
}

.avatar-default {
    width: 60px;
    height: auto;
}


/*----------------------- SHOP ------------------------------ */


/*body.post-type-archive-product p{
	color: #333;
}*/

body.post-type-archive-product ul.products {
    margin-top: 90px !important;
}

body.single-product #comments h2 {
    margin-left: 0;
}

body.post-type-archive-product h1, body.tax-product_cat h1, body.single-product .related h1 {
    font-size: 14px;
    font-weight: 600;
}

body.single-product .related div[itemprop="description"], body.single-product .related .cart {
    display: none;
}

body.post-type-archive-product ul.products div[itemprop="description"] li, body.tax-product_cat ul.products div[itemprop="description"] li {
    list-style: disc;
    font-size: 12px;
}


/*----------------------- FEATURED POSTS ------------------------ */

#featured-posts {
    margin-top: 18px;
    background-color: rgba(233, 230, 230, 0.44);
}

#featured-posts h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 40px;
}


/*----------------------- CHECK TODAY --------------------------- */

section#check-today {
    padding: 0px;
}


/*----------------------- FEATURED PROPERTIES ------------------- */

#featured-properties {
    padding: 68px 0px 87px;
}

#featured-properties h1 {
    letter-spacing: 1px;
    font-weight: 300;
    color: gray;
}

#featured-properties .thumbnail {
    border-radius: 0;
}

#featured-properties .btn-secondary {
    width: 250px;
    background-color: white;
    border: 3px solid #D5D5D5;
    border-radius: initial;
    color: #898989;
    letter-spacing: 7px;
    margin-top: 30px;
}

#featured-properties .btn-secondary:hover {
    color: #23527c;
    background-color: #FFDB48;
}

.wp-listings-shortcode .listing-wrap .listing-thumb-meta {
    bottom: initial;
    top: 0;
}

.wp-listings-shortcode .listing-widget-thumb a img {
    height: auto !important;
}

#featured-properties span.listing-price {
    background: #224D78 !important;
    font-size: 19px;
    font-weight: 400;
    color: #FEFEFF;
    margin-top: 0px;
    position: absolute;
    left: 0;
    /*margin-left: 5px;*/
    padding: 5px;
}

#featured-properties span {
    color: #939393;
}

p.listing-address {
    text-align: center !important;
    padding: 24px 0 24px !important;
    margin-top: 18px;
    display: table;
    margin-left: auto;
    margin-right: auto;
}

#featured-properties .listing-widget-details {
    border: none !important;
}

#featured-properties select {
    margin-bottom: 30px;
    margin-left: 15px;
    width: 200px;
}

.view-this-property {
    background-color: #224D78;
    color: white;
    width: 159px;
    text-align: center;
    padding: 9px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 27px;
    font-size: 13px;
}

.view-this-property:hover {
    background-color: #FFDB48;
    color: #224D78;
    font-weight: 600;
}

.view-this-property-a:hover {
    text-decoration: none !important;
}

.sec-title {
    margin-bottom: 60px;
    letter-spacing: 9px;
}

#featured-properties .listing-wrap span.listing-status.active, .wp-listings-shortcode .listing-wrap span.listing-status.active {
    display: none !important;
}

.wp-listings-shortcode .listing-wrap .listing-thumb-meta span.listing-price {
    background: rgb(34, 77, 120) !important;
}

.archive .listing-wrap span.listing-status.active {
    display: none;
}


/*----------------------- TOP --------------------------------- */

.top {
    padding: 12px 0;
}

.logo {
    max-width: 315px;
}

.top h3 {
    margin-top: 0px;
    font-weight: 600;
    color: #19426D !important;
}

.social-top {
    text-align: right;
}


/*----------------------- SLIDER ------------------------------ */

.carousel .carousel-inside p {
    line-height: 1.4;
}

.carousel, .item, .active, .carousel-control {
    height: 95%;
}

.carousel-inside {
    background-color: rgba(0, 0, 0, 0.61);
    padding: 18px;
    font-size: 18px;
    line-height: 13px;
    bottom: 0;
    margin-bottom: 46px;
    width: 450px;
    position: absolute;
}

.carousel-inside span {
    color: white;
    font-size: 22px !important;
    letter-spacing: 1px;
}

.carousel-inner {
    height: 100%;
    background-color: #EAEAEA;
}

.carousel-content span {
    font-size: 14px;
    color: white;
}

.carousel-caption {
    position: static;
}

body.page-id-12845 .carousel-inner {
    background-color: white;
}

body.page-id-12845 .carousel-inner p, h4 {
    text-align: left;
    color: #000;
    text-shadow: initial;
}

body.page-id-12845 .carousel-caption {
    margin-top: -26px;
    height: 215px;
}


/*----------------------- Book Top --------------------------- */

.half-background {
    position: absolute;
    height: 400px;
    width: 50%;
}

.book-top>div {
    margin-top: 92px;
}

.book-top p {
    font-weight: 600;
    font-size: 15px;
    line-height: 1.7;
    margin-top: 12px;
}

.book-top-second p {
    color: #4d5d7d;
    line-height: 1;
    font-weight: 400;
}


/*.book h2{
	margin-top: 36px !important;
}*/

.book h4 {
    margin-top: 32px !important;
}

.book-page .side-bar-right h3 {
    font-size: 17px;
    padding: 12px;
    background-color: #FFDB48;
    margin-top: 0px;
}


/*----------------------- ZILLOW SECTION ----------------------- */

section#zillow {
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#zillow h4 {
    color: white;
    text-align: center;
}

#zillow h3, img {
    display: inline-block;
    letter-spacing: 7px;
    font-size: 25px;
}

#zillow span {
    font-size: 60px;
}

#zillow img {
    margin-top: -16px;
    width: 175px;
    margin-left: 20px;
    margin-right: 20px;
}

#zillow img.z-small {
    width: 75px;
    margin-top: 0px;
}

#zillow .line {
    background-color: rgba(35, 75, 119, 0.77);
    padding-bottom: 16px;
    padding-top: 16px;
    margin-top: -5px;
}

#zillow .bottom-text {
    color: white;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 2px;
}

#zillow .verified-img {
    position: absolute;
    margin-top: -50px;
    margin-left: 23%;
    /*width: 149px;*/
}


/*----------------------- CONNECT WITH US ---------------------- */

#connect-with-us {
    padding: 115px 0;
    background-color: #FFDB48;
}

#connect-with-us h1 {
    letter-spacing: 10px;
    margin-top: 0px;
}

#connect-with-us p, #connect-with-us span.gform_description {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #19426D !important;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 200px;
    padding-right: 200px;
}

#connect-with-us span.gform_description {
    display: block;
    text-align: center;
}

#connect-with-us input {
    width: 100%;
    padding: 4px 10px;
    border: 1px solid #19426D;
    background-color: #FFDB48;
    border-radius: 0;
    font-weight: initial;
    line-height: 1.2;
}

#connect-with-us input[type="submit"] {
    background-color: #1A426D;
    color: white;
    width: 130px;
    float: left;
    text-transform: uppercase;
}

#connect-with-us input[type="submit"]:hover {
    background-color: #ffdb48;
    color: #19426D;
}

#connect-with-us input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #19426D;
}

#connect-with-us input::-moz-placeholder {
    /* Firefox 19+ */
    color: #19426D;
}

#connect-with-us #gform_fields_1 {
    margin-left: 78px !important;
}


/*body.page-id-13301 #connect-with-us .gform_wrapper .gform_footer,
body.page-id-7 #connect-with-us .gform_wrapper .gform_footer,
body.page-id-21 #connect-with-us .gform_wrapper .gform_footer,
body.search #connect-with-us .gform_wrapper .gform_footer{
	clear: none !important;
	padding: 7px !important;

}*/

#gform_wrapper_1 .gform_wrapper .gform_footer .top_label {
    padding: 7px 0 10px !important;
    clear: none !important;
}

span.connect {
    font-weight: 400;
    font-size: 34px;
}

span.with-us {
    font-weight: 300;
    font-size: 33px;
}


/*----------------------- CUSTOM GRAVITY FORM ----------------------- */

.gform_confirmation_wrapper {
    text-align: center;
}

.alert-subscribe label, #connect-with-us label, .carousel-indicators {
    display: none;
}

.alert-subscribe li, #connect-with-us li, #comments li, #stay-in-touch li {
    list-style: none;
    padding: 0px 5px;
    margin-top: 0px;
    clear: none !important;
}

.alert-subscribe #input_2_3_3 {
    padding: 3px;
}

.alert-subscribe input, #comments input, #comments textarea {
    width: 100%;
    padding: 4px 10px;
    border: 2px solid #c4c4c4 !important;
}

#comments label {
    text-transform: uppercase;
}

#comments li {
    margin-top: 18px;
}

#comments textarea {
    height: 110px;
}

#comments select {
    margin-top: 6px;
    width: 92%;
    padding: 4px 10px;
    border: 2px solid #c4c4c4 !important;
}

#comments input[type="submit"] {
    float: right;
    width: 150px;
    margin-right: 20px;
    margin-top: 16px;
    color: #19426D;
    background-color: #FFDB48;
    border: 0 !important;
    text-transform: uppercase;
    font-weight: 600;
    padding: 8px 0px;
    letter-spacing: 4px;
}

#comments h2 {
    color: #565656;
    margin-left: 14px;
    font-size: 24px;
}

#input_3_6_1_label {
    display: none;
}

.validation_error, .validation_message {
    color: #dd5656;
    font-weight: 600;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.slider-text {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}


/*----------------------- PAGE CONTENT ------------------------------ */

.page-content {
    padding-right: 40px;
}

.page-content p, h1, h2 {
    color: #000;
}

.page-content h2 {
    margin-bottom: 30px;
}

.pages-container {
    margin-top: 35px;
}

.page-content .gform_wrapper input {
    width: 100%;
}

.page-content .gform_wrapper li {
    margin-bottom: 18px;
}

.page-content .gform_wrapper input[type="submit"] {
    width: 120px;
    float: right;
    padding: 12px;
    margin-bottom: 10px;
}

.page-content .gform_wrapper label {
    font-size: 13px;
}


/*----------------------- BUTTON SOCIAL ------------------------------ */

.btn-social {
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 2px solid #19426D;
    border-radius: 100%;
    text-align: center;
    font-size: 12px;
    line-height: 21px;
    color: #19426D;
}

.btn-social:hover {
    color: #7495b2;
    border: 2px solid #7495b2;
}

.btn-share {
    display: inline-block;
    text-align: center;
    font-size: 21px;
    color: #19426d;
}

.btn-readmore {
    color: #19426D !important;
    padding: 11px 37px !important;
    font-size: 16px !important;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-top: 12px !important;
    border-radius: 0 !important;
    border: 1px solid;
}

.circle {
    display: inline-block;
    width: 190px;
    height: 190px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    line-height: 3;
    margin-bottom: 22px;
}

.counters {
    margin-top: 70px;
}


/*----------------------- LISTING PROFILE ------------------------------ */

.listing-detail-title {
    padding-top: 81px;
    font-size: 23px;
    position: absolute;
    color: white;
    font-weight: 300;
}


/*.gallery{
	display: none;
}*/

.listing-profile {
    margin-top: 50px;
    margin-bottom: 60px;
}

.listing-profile .list-inline {
    margin-top: 0px !important;
}

.no-pad {
    padding: 0 !important;
}

.ug-gallery-wrapper .ug-strip-panel {
    background-color: rgba(0, 0, 0, 0) !important;
    border: 1px solid #f2f2f2;
}

.archive .listing-wrap, .wp-listings-shortcode .listing-wrap {
    width: initial !important;
}

.listing-profile h2 {
    margin-top: 0;
    color: #19426D;
}

.c-listing-detail {
    margin-top: 20px;
    padding: 22px;
    background-color: rgba(57, 57, 57, 0.05);
}

.ft-overlay {
    position: absolute;
    left: 0;
    width: 100%;
    height: 195px;
    background-color: rgba(49, 58, 73, 0.44);
}

body.page .filters-select {
    width: 265px;
    margin-bottom: 35px;
}

body.page-id-31 .hovereffect img {
    height: auto !important;
}

body.page-id-31 .listing-address span {
    font-size: 14px;
}


/*----------------------- SIDE BAR ------------------------------------ */

#stay-in-touch {
    background-color: #19436D;
    padding: 15px 24px;
}

#stay-in-touch h3 {
    margin-top: 12px;
}

#stay-in-touch ul {
    display: inline;
}

#stay-in-touch input {
    width: 100%;
    padding: 5px;
    margin-top: -7px;
}

#stay-in-touch input[type='submit'] {
    width: 106px;
    float: right;
    padding-right: -1px;
    margin-right: 6px;
    margin-bottom: 10px;
    background-color: #FFDB48;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1pt;
    font-size: 12px;
}

#stay-in-touch .gform_body {
    margin-top: -20px;
}

#stay-in-touch .stay-in-touch-p {
    text-align: justify;
}

#stay-in-touch .stay-in-touch-thankyou {
    display: none;
}

body.single-idx-wrapper .gfc-stayintouch, body.page .ajax-stayintouch, body.error404 .ajax-stayintouch, body.single-event .ajax-stayintouch, body.single-endorsements .ajax-stayintouch {
    display: none;
}


/*body.page-id-7 #stay-in-touch input{
	margin-top: -6px !important;
}*/

.side-bar-right {
    overflow: hidden;
}

.side-bar-right .textwidget {
    margin-bottom: 20px;
}

.virtual-tour-box {
    background-color: #FFDB48;
    padding: 15px 0px;
    text-align: center;
}


/*----------------------- CUSTOM GRAVITY FORM ----------------------- */

#maincontent p {
    color: #000;
}


/*----------------------- SUBSCRIBE ALERT ------------------------------ */

.alert-subscribe {
    color: white;
    background-color: rgba(25, 66, 109, 0.84);
    border-color: transparent !important;
    border-radius: 0 !important;
    bottom: 123px;
    position: absolute;
    width: 468px;
    padding-bottom: 35px;
}

.alert-subscribe h3 {
    margin-top: 0px;
    color: white;
}

.alert-subscribe input[type="submit"] {
    background-color: #FFDB48;
    color: #19426D;
    width: 130px;
    float: left;
    text-transform: uppercase;
    font-weight: 600;
}

.alert-subscribe input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 13px;
}

.alert-subscribe input::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 13px;
}


/*----------------------- ACCORDION ------------------------------ */

#accordion-first .accordion-group {
    margin-bottom: 10px;
}

#accordion-first .accordion-heading, #accordion-first .accordion-toggle:hover, #accordion-first .accordion-heading .accordion-toggle.active {
    background: none repeat scroll 0% 0% rgba(183, 193, 202, 0.65);
}

#accordion-first .accordion-heading {
    border-bottom: 0px none;
    font-size: 16px;
}

#accordion-first .accordion-heading .accordion-toggle {
    display: block;
    cursor: pointer;
    padding: 10px 5px !important;
    color: #222;
    outline: medium none !important;
    text-decoration: none;
    font-weight: 600;
    background-color: rgb(239, 239, 239);
}

#accordion-first .accordion-heading .accordion-toggle.active em {
    background-color: #F7C221;
}

#accordion-first .accordion-heading .accordion-toggle>em {
    background-color: #222;
    border-radius: 100px;
    color: #FFF;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    margin-right: 10px;
    text-align: center;
    width: 32px;
}

#accordion-first .accordion-inner {
    margin-left: 40px;
    padding: 23px 7px;
}


/*----------------------- FOOTER ------------------------------ */

#bottom-footer h5 {
    color: #FFDB48;
    text-transform: uppercase;
    font-weight: 700;
}

#bottom-footer p {
    font-weight: 300;
}

#bottom-footer .btn-social {
    color: #fff !important;
    border: 2px solid #fff;
}

#bottom-footer .btn-social:hover {
    color: #FFDB48 !important;
    border: 2px solid #FFDB48;
}

#bottom-footer .list-inline {
    text-align: center;
}

.footer-pad {
    padding: 0px 10px;
    letter-spacing: 2px;
    font-weight: 300;
    color: #fff;
}


/*----------------------- CUSTOM BOOTSTRAP -------------------- */

.navbar {
    margin-bottom: initial;
}

.form-control {
    border-radius: 0 !important;
}

.navbar-inverse {
    background-color: rgba(34, 34, 34, 0.85) !important;
    border-color: transparent !important;
    z-index: 2 !important;
    position: absolute;
    width: 100%;
}

.navbar a {
    color: white;
}

.list-inline {
    margin-top: 18px;
}

.navbar-inverse .navbar-nav>li>a {
    color: whitesmoke !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 9pt;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>li>a:hover {
    color: #19426D !important;
    background-color: #FFDB48 !important;
}

.navbar-nav>li>.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.39);
    border-radius: 0;
}

.dropdown-menu>li>a {
    color: #fff !important;
    background-color: rgba(245, 245, 245, 0) !important;
}

.dropdown-menu>li>a:hover {
    color: #FFDB48 !important;
    background-color: rgba(245, 245, 245, 0) !important;
}

.close {
    color: #fff;
    opacity: initial;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

.image-container {
    position: relative;
}

.image-container .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    color: #FFF;
    text-align: center;
    background: rgba(0, 0, 0, .6);
}

.image-container .after p {
    padding-top: 30%;
    letter-spacing: 3px;
    /*color: silver;*/
    color: #fff;
}

.image-container span {
    color: white;
    font-size: 19px;
    font-weight: 400;
    letter-spacing: 1px;
}

.image-container:hover .after {
    display: block;
    background: rgba(0, 0, 0, 0.28);
}

.hovereffect .image-container {
    overflow: initial;
}

.hovereffect .image-container:hover {
    overflow: hidden;
}


/*----------------------- Woocommerce -------------------- */

.woocommerce .quantity .qty {
    height: 32px;
}


/*----------------------- MEDIA QUERIES -------------------- */

@media (max-width: 1899px) {
    #zillow h3 {
        letter-spacing: 2px;
    }
}

@media (max-width: 1600px) {
    #zillow h3 {
        letter-spacing: 0px;
        font-size: 18px;
    }
}

@media (min-width: 1200px) {
    .alert-subscribe {
        margin-left: 190px;
        margin-bottom: 7% !important;
    }
}

@media (max-width: 1199px) {
    .alert-subscribe {
        margin-left: 73px;
    }
    /* ZILLOW */
    #zillow .line {
        margin-bottom: -50px;
    }
    #zillow .verified-img {
        width: 108px;
        right: 0;
        margin-right: 15px;
    }
    #zillow h3, img {
        letter-spacing: 2px;
        font-size: 17px;
        margin-top: 12px;
    }
    #zillow img {
        margin-top: 0px;
        width: 137px;
    }
    #zillow h3:first-child {
        margin-top: 42px;
    }
    .counters {
        margin-top: 24px;
    }
    .navbar-inverse .navbar-nav>li>a {
        letter-spacing: 0px;
        font-size: 8pt;
    }
}

@media (max-width: 992px) {
    .nav>li>a {
        padding: 14px 10px;
    }
    .alert-subscribe {
        margin-left: -18%;
        margin-bottom: 27% !important;
    }
    /*NAVbar MENU */
    .navbar-inverse .navbar-nav>li>a {
        font-size: 6.9pt;
    }
    .page-content {
        padding-right: initial;
    }
    #featured-properties span {
        font-size: 14px;
    }
    /* CONNECT WITH US */
    #connect-with-us p, #connect-with-us span.gform_description {
        font-size: 15px;
        letter-spacing: 0px;
        margin-top: 20px;
        padding-left: 15px;
        padding-right: 15px;
    }
    #connect-with-us h1 {
        letter-spacing: 2px;
    }
    #connect-with-us {
        padding: 30px 0;
    }
    #connect-with-us ul, #comments ul {
        margin-left: -40px;
    }
    #connect-with-us input {
        margin-bottom: 10px;
    }
    #connect-with-us input[type="submit"] {
        float: initial;
        margin-left: auto;
        margin-right: auto;
    }
    body.page-id-7 #connect-with-us #gform_fields_1 {
        margin-left: 0px !important;
    }
    body.blog #connect-with-us #gform_fields_1, #connect-with-us #gform_fields_1 {
        margin-left: -40px !important;
    }
    #connect-with-us li {
        clear: none !important;
    }
    #connect-with-us .gform_wrapper form, #connect-with-us .gform_heading {
        text-align: center;
    }
    #connect-with-us .gform_wrapper ul.gform_fields {
        margin: initial !important;
    }
    span.connect {
        font-size: 28px;
    }
    span.with-us {
        font-size: 26px;
    }
    /* END CONNECT WITH US */
    /* COMMENTS */
    #comments select {
        width: 100%;
    }
    /* END COMMENTS */
    .textwidget img {
        margin-right: auto;
        margin-left: auto;
    }
    /* FOOTER */
    section#bottom-footer {
        text-align: center;
        padding: 15px 0px;
    }
    section#bottom-footer h5 {
        margin-top: 36px;
    }
    .footer-pad {
        padding: 0px 3px;
        letter-spacing: 0px;
        font-size: 14px;
    }
    /* END FOOTER */
    /* IDX */
    .IDX-resultsField {
        margin-top: -20px;
    }
}

@media (min-width: 768px) {
    .col-sm-2 {
        width: 21.666667% !important;
    }
    .logoimg-mobile {
        display: none;
    }
    .dropdown-menu .sub-menu {
        left: 100%;
        position: absolute;
        top: 0;
        visibility: hidden;
        margin-top: -1px;
    }
    .dropdown-menu li:hover .sub-menu {
        visibility: visible;
    }
    .dropdown:hover .dropdown-menu {
        display: block;
    }
    .nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
        margin-top: 0;
    }
    .navbar .sub-menu:before {
        border-bottom: 7px solid transparent;
        border-left: none;
        border-right: 7px solid rgba(0, 0, 0, 0.2);
        border-top: 7px solid transparent;
        left: -7px;
        top: 10px;
    }
    .navbar .sub-menu:after {
        border-top: 6px solid transparent;
        border-left: none;
        border-right: 6px solid #fff;
        border-bottom: 6px solid transparent;
        left: 10px;
        top: 11px;
        left: -6px;
    }
}

@media (max-width: 767px) {
    /* MOBILE MENU */
    .navbar-inverse .navbar-nav>li>a {
        font-size: 9.9pt;
    }
    .navbar .navbar-nav {
        width: 100%;
        margin-left: -3px;
    }
    .navbar-inverse {
        background-color: rgba(34, 34, 34, 0.8) !important;
    }
    .element-item {
        width: 100%;
    }
    .navbar .navbar-collapse {
        text-align: left;
    }
    .carousel, .item, .active, .carousel-control {
        height: 100% !important;
    }
    .alert-subscribe {
        margin-left: initial;
        margin-bottom: 27% !important;
        bottom: initial;
        top: 0;
        margin-top: 15%;
        width: 95%;
        position: fixed;
    }
    .alert-subscribe input {
        margin-bottom: 12px;
        margin-left: -25px;
    }
    .alert-subscribe input[type="submit"] {
        float: initial;
        margin-left: auto;
        margin-right: auto;
    }
    .top {
        display: none
    }
    .logoimg-mobile {
        display: block;
        width: 163px;
        position: absolute;
        margin-top: 7px;
    }
    .list-inline {
        margin-top: 7px;
    }
    .list-inline>li {
        padding-right: 1px;
        padding-left: 1px;
    }
    .top h3 {
        font-size: 16px;
    }
    .alert-subscribe h3 {
        font-size: 18px;
    }
    .carousel-inside {
        font-size: 15px;
        line-height: 8px;
        bottom: 1%;
        width: 90%;
    }
    .counters {
        margin-top: 24px;
    }
    #zillow img {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    /* END ZILLOW */
    /*FEATURED PROPERTIES*/
    #featured-properties h1 {
        font-size: 28px;
    }
    #featured-properties {
        padding: 45px 15px 55px;
    }
    /* END FEATURED PROPERTIES*/
    #gallery-4 .gallery-item {
        width: 100% !important;
    }
    #featured-properties span {
        font-size: initial;
    }
}

@media (max-width: 480px) {
    .alert-subscribe {
        margin-top: 22%;
        width: 90%;
        height: 261px;
    }
    .carousel-inside span {
        font-size: 19px !important;
        letter-spacing: 0px;
        line-height: 13px;
    }
}


/* I AM A FORM */

#input_3_6_1 {
    padding-bottom: 2px !important;
}


/* PROFILE PAGE */

.profile-name {
    background-color: #19436D;
    color: #fff;
    width: 100%;
    padding: 10px;
    font-size: 15pt;
    float: left;
    text-align: center;
}

.profile-name:hover {
    text-decoration: none;
    color: #FFDB48;
    cursor: pointer;
}

.profile-block {
    text-align: center;
    margin-bottom: 30px;
    min-height: 269px;
}

.profile-block img {
    width: 100%;
}

.profile-body {
    overflow: auto;
}

.profile-header h4 {
    color: #19436D;
    font-size: 34pt;
}

.modal-footer {
    border: none;
}

.profile-position {
    color: #19436D;
    margin-top: 14px;
    text-align: center;
}

.modal h3 {
    margin-top: -8px;
    margin-bottom: 20px;
    font-size: 15px;
}


/* IDX */

.IDX-wrapper-standard .IDX-alert-info {
    background-color: #19436d;
    border-color: #19436d;
    color: #fff;
}

.IDX-wrapper-standard .IDX-panel-primary {
    border-color: rgba(25, 67, 109, 0.18);
}

.IDX-wrapper-standard .IDX-panel-primary>.IDX-panel-heading {
    color: #fff;
    background-color: #19436d;
    border-color: transparent;
}

.IDX-wrapper-standard .IDX-well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: rgba(25, 67, 109, 0.04);
    border: 1px solid rgba(25, 67, 109, 0.18);
    border-radius: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.IDX-wrapper-standard .IDX-panel-default>.IDX-panel-heading {
    color: #fff;
    background-color: #19436d;
    border-color: transparent;
}

.IDX-wrapper-standard button, .IDX-wrapper-standard input, .IDX-wrapper-standard select, .IDX-wrapper-standard textarea {
    width: 100%;
}

.IDX-wrapper-standard .IDX-btn-primary {
    background-color: #19436d;
    border-color: #19436d;
}

.IDX-wrapper-standard *, .IDX-wrapper-standard :after, .IDX-wrapper-standard :before {
    font-size: 13px;
}

.IDX-field-listingID span {
    color: white;
}

.IDX-resultsAddress span {
    font-size: 16px;
    font-weight: 700;
}


/* Listing Search Form */

.listing-search-form {
    text-align: center;
}

.no-result {
    display: none;
}

.no-result p {
    font-size: 22px;
    margin-left: 17px;
    color: #333;
}

#IDX-mapControlContainer-34070 {
    height: 300px !important;
}

.media-hit {
    clear: both;
    margin-bottom: 28px;
}

.pages-container a {
    font-weight: bold;
}

.biotext {
    font-size: 20pt;
    font-weight: 300;
}

#searchform {
    margin-top: 0px !important;
}

#cat {
    /*padding: 2px 5px;*/
    float: left;
    margin-right: 11px;
    width: 207px;
    margin-left: -23px;
}


/* ---------------------------------------------------------------*/

.page-id-7 .gform_wrapper input[type="text"], textarea {
    width: 100%;
}

.page-id-7 #gform_wrapper_5 .gform_body {
    margin-left: -40px;
}

.page-id-7 #gform_wrapper_5 li {
    margin-bottom: 10px;
}

.page-id-7 .gform_wrapper .field_sublabel_above .ginput_complex.ginput_container label, .page-id-7 .gform_wrapper .field_sublabel_above div[class*=gfield_time_].ginput_container label, .page-id-7 .gform_wrapper .field_sublabel_below .ginput_complex.ginput_container label, .page-id-7 .gform_wrapper .field_sublabel_below div[class*=gfield_time_].ginput_container label {
    display: block;
    font-size: 80%;
    letter-spacing: .5pt;
    white-space: nowrap;
}

.page-id-7 .gform_wrapper form li, .gform_wrapper li {
    margin-left: 0!important;
    list-style: none!important;
    overflow: visible;
}

#gform_7 {
    margin-top: 20px;
}

#gform_7 .gform_heading {
    margin-bottom: 20px;
}

.page-id-13301 .gform_wrapper input[type="text"], textarea {
    width: 100%;
}

.page-id-13301 #gform_wrapper_7 .gform_body {
    margin-left: -40px;
}

.page-id-13301 #gform_wrapper_7 li {
    margin-bottom: 10px;
}

.page-id-13301 .gform_wrapper .field_sublabel_above .ginput_complex.ginput_container label, .page-id-13301 .gform_wrapper .field_sublabel_above div[class*=gfield_time_].ginput_container label, .page-id-13301 .gform_wrapper .field_sublabel_below .ginput_complex.ginput_container label, .page-id-13301 .gform_wrapper .field_sublabel_below div[class*=gfield_time_].ginput_container label {
    display: block;
    font-size: 80%;
    letter-spacing: .5pt;
    white-space: nowrap;
}

.page-id-13301 .gform_wrapper form li, .gform_wrapper li {
    margin-left: 0!important;
    list-style: none!important;
    overflow: visible;
}


/*body .gform_wrapper .top_label div.ginput_container {
    margin-top: 8px;
}*/
